Toolbox for NIfTI and ANALYZE image: https://www.mathworks.com/matlabcentral/fileexchange/8797-tools-for-nifti-and-analyze-image
Dynamsim toolbox: https://github.com/DynaSim/DynaSim
Crp toolbox: https://tocsy.pik-potsdam.de/CRPtoolbox/
